<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/css/style.css' %}">
</head>
<body>
<header>
        {% if user.client %}
        <a href={% url "cart" %}><button id="cart_btn">
            Ver Carrinho
        </button></a>
        {% endif %}

        <a href={% url "home" %}>
        <img src="{% static 'style/img/GetdressedLOGO.png' %}" alt="getdressed.logo"
             id="home_logo">
        </a>


        <div class="user-buttons">
            <a href={% url 'user_profile' %}><h1>{{ user.username }}</h1></a>
        </div>


</header>

</body>
</html>