<!DOCTYPE html>
<html lang="en">
{% include 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Finalizar Compra</title>
</head>
<body>
{% block content %}
<h1>Finalizar Compra</h1>
<p>O valor total da sua compra é de {{ total }} €</p>
<form method="post">
    {% csrf_token %}
    <label for="payment_type">Selecione o tipo de pagamento:</label>
    <select name="payment_type" id="payment_type">
        <option value="credit_card">Cartão de Crédito</option>
        <option value="debit_card">Cartão de Débito</option>
        <option value="bank_transfer">Transferência Bancária</option>
        <option value="cash">Dinheiro</option>
    </select>
    <br><br>
    <h2>Produtos no Carrinho:</h2>
    <ul>
        {% for product in products %}
        <li>{{ product.name }} -  {{ product.price }} € - Quantidade: {{ product.cartproduct_set.first.amount }}</li>
        {% endfor %}
    </ul>
    <br>

</form>
<form method="post" action="{% url 'end_order' %}">
    {% csrf_token %}
    <button type="submit">Finalizar compra</button>
</form>
{% endblock %}
</body>
</html>