<!DOCTYPE html>
<html lang="en">
{% include 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Editar Produto</title>
</head>
<body>
{% csrf_token %}
<form method="post" enctype="multipart/form-data" action="{% url 'edit_product' product.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style="background-color: #3e8e41">Salvar</button>
</form>
<br>
<form method="post" enctype="multipart/form-data" action="{% url 'delete_product' product.id %}">
    {% csrf_token %}
    <button type="submit" style="background-color: red">delete</button>
</form>
<br>
<a href={% url 'product' product.id %}>Voltar</a>


</body>
</html>