<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GetDressed</title>
</head>
<body>
    <header>
        <button><a href="{% url 'cart' %}">Ver Carrinho</a></button>
    </header>
    {% block content %}
        <h1> Olá {{ user.username }}</h1>
        {% csrf_token %}
        {% if products %}
            <ul>
                {% for product in products %}
                    <li>
                        {{ product.name }} : {{ product.price }} €
                        <form method="post" action="{% url 'add2cart' product_id=product.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <button type="submit">Adicionar</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

    {% endblock %}

</body>
</html>


