<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style/css/style.css' %}"}>
    <title>Home</title>
</head>
<body>
<header>
    <button id="home_btn">
        <a href={% url "home" %}>Início</a>
    </button>
    <button id="cart_btn">
        <a href={% url "cart" %}>Ver Carrinho</a>
    </button>
    <h1>{{ user.username }}</h1>
    </header>
    {% block content %}
        {% csrf_token %}
        <section class="product-section">
        {% if products %}
            {% for product in products %}
                <div class="product-item">
                {% if product.image %}
                    <img class="product-image" src="{{ product.image.url }}">
                {% endif %}
                    <br>
                    <a href={% url "product" product.id %}>{{ product.name }} : {{ product.price }} € </a>
                </div>
            {% endfor %}
        {% endif %}
        </section>

    {% endblock %}

</body>
</html>


