<!DOCTYPE html>
<html lang="en">
{% include 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Produto</title>
</head>

<body>
<h2>{{ product.name }}</h2>
{% csrf_token %}
{% if product.image %}
    <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
{% endif %}

<h3>{{ product.price }} €</h3>
<h3>{{ product.description }}</h3>

<form method="post" action="{% url 'add2cart' product_id=product.id %}">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <button type="submit">Adicionar ao Carrinho</button>
</form>
<br>
{% if user.is_authenticated and user.is_staff %}
    <a href={% url "edit_product" product.id %}><button>Editar</button></a>
{% endif %}

</body>
</html>